$cyan: hsl(172, 67%, 45%);
$vdcyan: hsl(183, 100%, 15%);
$dgcyan1: hsl(186, 14%, 43%);
$dgcyan2: hsl(184, 14%, 56%);
$lgcyan1: hsl(185, 41%, 84%);
$lgcyan2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

// CSS Reset ends here

html {
  font-size: 16px;
}

body {
  display: grid;
  background: $lgcyan1;
  font-family: "Space Mono", monospace;
  grid-template-columns: repeat(auto-fit, fr);
  grid-template-rows: repeat(auto-fill, fr);
  font-weight: 700;
  min-height: 100vh;
}

input {
  width: auto;
}

input:focus {
  outline: $lgcyan1 solid;
}

.container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(auto, 360px));
  margin: auto;
  padding: 2rem;
  max-width: 90%;
}

@media (max-width: 472px) {
  .container {
    max-width: 100%;
  }
}

.bar {
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: right;
}

.bg-white {
  background: $white;
  color: $vdcyan;
}

.btn-white {
  background: $white;
  color: $vdcyan;
}

.bg-blue {
  background: $vdcyan;
  color: $lgcyan1;
}

.btn-blue {
  background: $vdcyan;
  color: $lgcyan1;
  &.active {
    background: $cyan;
    color: $vdcyan;
  }
  &:hover {
    background: $lgcyan1;
    color: $vdcyan;
  }
}

.bg-lblue {
  background: $lgcyan2;
  color: $dgcyan1;
}

.btn-lblue {
  background: $lgcyan2;
  color: $dgcyan1;
}

.bg-cyan {
  background: $cyan;
  color: $vdcyan;
}

.btn-cyan {
  background: $cyan;
  color: $vdcyan;
  &:hover {
    background: $lgcyan1;
  }
}

.button-group {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(3, 1fr);
  input {
    width: 0;
    min-width: 100%;
  }
}

.btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.error-form {
  border: salmon solid;
}

.error-text {
  color: salmon;
}

.flex {
  display: flex;
}

.just-btwn {
  justify-content: space-between;
}

.form {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: space-between;
  input {
    flex-grow: 1;
    text-align: end;
    width: fit-content;
  }
}

.hidden {
  visibility: hidden;
}

.input {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.output {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 2rem;
}

.pd-8 {
  padding: 0.5rem;
}

.pd-16 {
  padding: 1rem;
}

.rd-8 {
  border-radius: 0.5rem;
}

.rd-16 {
  border-radius: 1rem;
}

.rd-32 {
  border-radius: 2rem;
}

.spacer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

#logo {
  margin: auto;
  width: 64px;
}

#reset {
  align-self: center;
  width: 100%;
}

#tip-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  #tip {
    font-size: 2.5rem;
  }
}

#total-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  #total {
    font-size: 2.5rem;
  }
}

::placeholder {
  color: $lgcyan1;
  opacity: 1;
}

.attribution {
  font-size: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
