/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

html {
  font-size: 16px;
}

body {
  display: -ms-grid;
  display: grid;
  background: #c5e4e7;
  font-family: "Space Mono", monospace;
  -ms-grid-columns: (fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, fr);
  font-weight: 700;
  min-height: 100vh;
}

input {
  width: auto;
}

input:focus {
  outline: #c5e4e7 solid;
}

.container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(auto, 360px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 360px));
  margin: auto;
  padding: 2rem;
  max-width: 90%;
}

@media (max-width: 472px) {
  .container {
    max-width: 100%;
  }
}

.bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: right;
}

.bg-white {
  background: white;
  color: #00494d;
}

.btn-white {
  background: white;
  color: #00494d;
}

.bg-blue {
  background: #00494d;
  color: #c5e4e7;
}

.btn-blue {
  background: #00494d;
  color: #c5e4e7;
}

.btn-blue:hover {
  background: #c5e4e7;
  color: #00494d;
}

.bg-lblue {
  background: #f4fafa;
  color: #5e7a7d;
}

.btn-lblue {
  background: #f4fafa;
  color: #5e7a7d;
}

.bg-cyan {
  background: #26c0ab;
  color: #00494d;
}

.btn-cyan {
  background: #26c0ab;
  color: #00494d;
}

.bg-cyan:hover {
  background: #c5e4e7;
}

.btn-cyan:hover {
  background: #c5e4e7;
}

.button-group {
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.button-group input {
  width: 0;
  min-width: 100%;
}

.btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.error-form {
  border: salmon solid;
}

.error-text {
  color: salmon;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.just-btwn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hidden {
  visibility: hidden;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.5rem;
}

.output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.pd-8 {
  padding: 0.5rem;
}

.pd-16 {
  padding: 1rem;
}

.rd-8 {
  border-radius: 0.5rem;
}

.rd-16 {
  border-radius: 1rem;
}

.rd-32 {
  border-radius: 2rem;
}

.spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logo {
  margin: auto;
  width: 64px;
}

#reset {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

#tip-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tip-person #tip {
  font-size: 2.5rem;
}

#total-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#total-person #total {
  font-size: 2.5rem;
}

::-webkit-input-placeholder {
  color: #c5e4e7;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #c5e4e7;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #c5e4e7;
  opacity: 1;
}

::placeholder {
  color: #c5e4e7;
  opacity: 1;
}

.attribution {
  font-size: 1rem;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=tip.css.map */